<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <!-- entry DOM node! -->
    <div id="app"></div>
  </body>

  <style>
    * { margin: 0; padding: 0; }
    body {
      font-family: 'Roboto', sans-serif;
      background-color: #37474F;
    }
  </style>

</html>
